<ion-header>
	<ion-navbar primary>
	  <ion-title><img class="logo" src="/img/180x180.png">PokéRadar</ion-title>

	  <ion-buttons end>
			<button (click)="showOptionsModal()"><ion-icon name="options"></ion-icon></button>  
	  </ion-buttons>

	</ion-navbar>
</ion-header>

<ion-content class="radarPage">
  <div *ngIf="!(isOnline$ | async)" #pleaseConnect id="please-connect">
		<p>Please connect to the Internet...</p>
	</div>

	<div *ngIf="(isOnline$ && isScanning$ | async)" #scanAnimation id="scanning" class="scanning">
		<div class="spinner"></div>
	</div>

  <div *ngIf="(isOnline$ | async)" #map id="map"></div>

	<div *ngIf="(isOnline$ && isMapInitialized$ | async)" class="radarToggle">
		<b>Radar</b>
		<ion-toggle [checked]="(isRadarOn$ | async)" (click)="toggleRadar()"></ion-toggle>
	</div>

	<div *ngIf="(isOnline$ && isRadarOn$ | async)" class="halo">
  	<span class="ring ring-2"></span>
		<span class="ring ring-3"></span>
	</div>

	<div *ngIf="(isRadarOn$ | async)" class="footerStats">
		<ion-img class="pokeballSmall" src="/img/pokeball.png"></ion-img><b>Nearby Pokemons</b>  <ion-badge>{{ pokemonMarkers.size }}</ion-badge>
	</div>


</ion-content>
